<p id="notice"></p>
<div class="container px-5 px-sm-0">
    <div class="row">
          <%= render 'books/list', user: @user %>
          <div class="col-md-8 offset-md-1">
              <h2>Book detail</h2>
              <table class="table">
                  <tbody>
                      <tr>
                         <td>
                          <%= link_to user_path(@books.user.id) do %>
                          <%= attachment_image_tag @books.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %><br>
                          <%= @books.user.name %>
                          <% end %>
                         </td>
                         <td><%= link_to @books.title ,@books_path %></td>
                         <td><%= @books.body %></td>
                         </td>
                         <td id="favorite_buttons_<%= @books.id %>">
                         <%= render "favorites/favorites", book: @books %>
                         </td>
                         <td class="comments1">
                            <%= render 'book_comments/book1', book: @books %> 
                         </td>
                         <td>閲覧数：<%= @books.impressionist_count %></td>
                         <% if @books.user.id == current_user.id %>
                         <td><%= link_to "Edit", edit_book_path(@books) , class:"btn btn-sm btn-success"%></td>
                         <td>
                         <%= link_to "Destroy", book_path(@books),class:"btn btn-sm btn-danger", method: :delete,"data-confirm" => "本当に削除しますか？" %>
                         <% end %>
                      </tr>
                  </tbody>
                  <table class="comments">
                  <%= render 'book_comments/book', book: @books %> 
                  </table>
                  <div class="new-comment">
                  <%= form_with(model:[@books, @book_comment], remote: true) do |f| %>
                  <%= f.text_area :comment %>
                  <%= f.submit "送信" %>
                  <% end %>
                  </div>
              </table>
          </div>
    </div>
</div>    